html {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
}

main {
  font-size: 1.6rem;
}

h4 {
  margin-bottom: 0.1em;
}

.texts li {
  font-height: 0.9em;
}

#count {
  display: block;
}

#output {
  display: flex;
  font-size: 0.9em;
}

#output ul {
  padding-left: 0.5em;
}

#output li {
  padding: 0.1em 0;
  list-style-type: none;
}

#output li span {
  padding: 0 0.2em;
}

#output-words .counts {
  display: none;
}

#output-counts {
  flex-grow: 1;
}

#output-counts .words {
  display: none;
}

.words {
}

.counts {
  display: inline-block;
  width: 15%;
  border-radius: 0.2em;
  background-color: #94b9e8;
}
