html {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
}

main {
  font-size: 1.6rem;
}

h1 {
  margin-bottom: 0.1em;
  color: #606060;
  font-size: 2em;
}

h4 {
  margin-top: 0.8em;
  margin-bottom: 0.1em;
  color: #303030;
  font-size: 1.0em;
}

input[type=button] {
  padding: 0.15em 0.3em;
  border: 1px solid #999;
  border-radius: 0.2em;
  background-color: #d8d8d8;
}

textarea {
  margin-bottom: 0.5em;
  border-radius: 0.2em;
  background-color: #fcfcfc;
}

#samples {
  padding-left: 0.6em;
  font-size: 0.9em;
  list-style-type: none;
}

#samples input {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#count {
  display: block;
  margin: 0.1em 0.6em;
}

#clear {
  margin: 0.1em 0.6em;
}

#output {
  display: flex;
  font-size: 0.9em;
}

#output ul {
  padding-left: 0.5em;
}

#output li {
  padding: 0.1em 0;
  list-style-type: none;
}

#output li span {
  padding: 0 0.2em;
}

#output-words .counts {
  display: none;
}

#output-counts {
  flex-grow: 1;
}

#output-counts .words {
  display: none;
}

.words {
  display: block;
  border-radius: 0.2em;
  background-color: #f6f6f6;
}

.counts {
  display: inline-block;
  border-radius: 0.2em;
  background-color: #94b9e8;
}
