html {
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
}

main {
  font-size: 1.6rem;
}

#count {
  display: block;
}

#output {
  display: flex;
  background-color: #fed;
}

#output li {
  list-style-type: none;
}

#output-words {
  background-color: #efd;
}

#output-counts {
  background-color: #edf;
  flex-grow: 1;
}

  /*
.words-counts {
  background-color: #ffe;
}

.words-counts {
  display: inline-block;
}

.words-counts li {
}

.words-counts span {
  position: absolute;
  display: inline-block;
  left: 10%;
  width: 25%;
  border: 1px solid #08f;
  background-color: #8cf;
  font-weight: bold;
}

#counts {
  display: block;
}
*/
